<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Tarea 13</title>
    <link rel="stylesheet" href="./css/estilos.css">
  </head>
  <body>
    <div ng-app="MyApp" ng-controller="formCtrl">
      <form action="">
        <section class="formulario">
          <label>Nombre: </label>
          <input type="text" ng-model="nombre" placeholder="Escribe tu nombre">
          
          <label>Apellido: </label>
          <input type="text" ng-model="Apellido" placeholder="Escribe tu apellido">
  
          <label>Kilometraje: </label>
          <input type="text" ng-model="kilome" placeholder="Cuantos kilometros recorres">
        </section>
      </form>

      
      <section class="contenido">
        <h3>La boleta del kilometraje</h3>
        <p>Nombre: {{nombre}}</p>
        <p>Apellido: {{Apellido}}</p>
        <p>Kilometraje: {{kilome}}</p>
        <p>Tarifa: {{tarifa(kilome)}}</p>
      </section>
    </div>
    <script src="js/index.js"></script>
  </body>
  </html>
